html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #000;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

:focus {
  outline: 0;
}

.hidden {
  display: none;
}

.container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
}

.message-app {
  background-color: #fff;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: #eaeaea;
  padding: 5px 20px;
  margin: 10px;
}

.main {
  overflow: scroll;
  display: flex;
  flex: 1;
  /* align-items: flex-end; */
}

.message-list {
  list-style-type: none;
  padding: 5px;
  flex: 1;
  margin-top: auto;
}

.message {
  display: flex;
}

.message-avatar {
  height: 50px;
  width: 50px;
  border-radius: 40px;
  background-color: lightgreen;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.message-bubble {
  position: relative;
  padding: 15px;
  margin: 0em 0 0em;
  color: #000;
  margin-left: 50px;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.message-bubble::after {
  top: 16px;
  left: -25px;
  bottom: auto;
  border-width: 10px 25px 10px 0;
  border-color: transparent #eaeaea;
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
}

.message-timestamp {
  text-align: right;
}

.input-message {
  padding: 5px;
  background-color: #eaeaea;
  border: none;
  outline: none;
  margin: 10px;
}

.icon-button {
  outline: none;
  border: none;
  margin: 0 5px;
}
